* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.request {
    width: 200px;
    border-radius: 7px;
    padding: 10px;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.post {
    font-size: 15px;
    background-color: rgb(24, 154, 187);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 3px 10px;
    margin: 0px;
}

.path {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}